{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="qUTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body class="a">
    {% if user.is_authenticated %}
    <h1>Wellcome {{user.username}}</h1>
    <button>
        <a href="logout">Logout</a>
    </button>
    {% else %}
    <h1>Wellcome visitor</h1>
    <button>
        <a href="login">Login</a>
    </button><br>
    <button>
        <a href="register">Register</a>
    </button>
    {% endif %}
</body>
</html>